.report-charts{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:25px;

    margin-top:30px;

}

.chart-card{

    background:white;

    padding:20px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.chart-card h2{

    margin-bottom:20px;

}

.full-width{

    grid-column:1 / span 2;

}